*, *::before, *::after {
    font-family: 'Arvo', serif;
}

body {
    width: 300px;
    height: 250px; 
    background-image: url(images/clouds.jpg);
    background-position: center center;
}

#content-box {
    background-color: transparent;
    border-radius: 25px;
    border: 5px solid white;
    text-align: center;
    
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

#details-box {
    text-align: center;
}

.category {
    font-weight: bold;
    font-size: 1rem;
    color: #777777;
}

.data {
    font-size: 1rem;
    font-weight: bold;
}

#icon-box {
    position: static;
    top: 50px;
    padding: 20px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
}

#darksky {
    position: absolute;
    color: #444444;
    bottom: 8px;
    right: 16px;
}
